@page
@model PacificTours.Pages.BookingModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bookings Page</h1>
</div>

<a class="btn btn-primary btn-sm" href="/HotelBooking">New Hotel Booking</a>
<a class="btn btn-primary btn-sm" href="/TourBooking">New Tour Booking</a>

<div>
    <table class="table">
        <tr>
            <th>Hotel Name</th>
            <th>SingleRoomPrice</th>
            <th>DoubleRoomPrice</th>
            <th>FamilyRoomPrice</th>
        </tr>
        <br />
        @foreach (var item in Model.HotelList)
        {
            <tr>
                <td>@item.HotelName</td>
                <td>@item.SingleRoomPrice</td>
                <td>@item.DoubleRoomPrice</td>
                <td>@item.FamilyRoomPrice</td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table">
        <tr>
            <th>Tour Name</th>
            <th>TourPrice</th>
        </tr>
        <br />
        @foreach (var item in Model.TourList)
        {
            <tr>
                <td>@item.TourName</td>
                <td>@item.TourPrice</td>
            </tr>
        }
    </table>
</div>