@page
@model PacificTours.Pages.ManagerDashboardModel
@{
}

<div class="text-center">
    <h1 class="display-4">Management Dashboard</h1>
</div>

<div>
    <table class="table">
        <tr>
            <th>Hotel Booking Id</th>
            <th>Hotel</th>
            <th>Room</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
        </tr>
        <br />
        @foreach (var booking in Model.HotelBookingList)
        {
            <tr>
                <td>@booking.Booking_Id</td>
                <td>@booking.Hotel.HotelName</td>
                <td>@booking.RoomType</td>
                <td>@booking.CheckInDate</td>
                <td>@booking.CheckOutDate</td>
                <td>
                    <a class="btn btn-primary btn-sm">Edit</a>
                    <a class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table">
        <tr>
            <th>Tour Booking Id</th>
            <th>Tour</th>
            <th>Tour Start Date</th>
            <th>Tour End Date</th>
        </tr>
        <br />

        @foreach (var booking in Model.TourBookingList)
        {
            <tr>
                <td>@booking.Tour_Id</td>
                <td>@booking.Tour.TourName</td>
                <td>@booking.CheckInDate</td>
                <td>@booking.CheckOutDate</td>
                <td>
                    <a class="btn btn-primary btn-sm">Edit</a>
                    <a class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
        }
    </table>
</div>