@page
@model PacificTours.Pages.HotelBookingsModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bookings Page</h1>
</div>

<div>
    <table class="table">
        <tr>
            <th>Hotel Booking Id</th>
            <th>Hotel</th>
            <th>Room</th>
            <th>Days</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
        </tr>
        <br />
        
        @foreach (var booking in Model.HotelBookingList)
        {
            // Displays the bookings only from the logged in user
            @if (booking.User_Id == Model.user.Id)
            {
                <tr>
                    <td>@booking.Booking_Id</td>
                    <td>@booking.Hotel.HotelName</td>
                    <td>@booking.RoomType</td>
                    <td>@booking.NumberOfDays</td>
                    <td>@booking.CheckInDate</td>
                    <td>@booking.CheckOutDate</td>
                    <td>
                        <a class="btn btn-primary btn-sm">Edit</a>
                        <a class="btn btn-danger btn-sm">Cancel</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

